.gradle/
private/
target/
build/
data/
gwt-unitCache/
widgetsets/
.classpath
.factorypath
.settings
.springBeans
*.iml
*.ipr
*.iws
*.ids
*.bak
*.log*
.*.sw*
/doc/md/jrebel.md
/bin/
gradle.properties
/*.cache-main
/.cache-tests
/.tmpBin/*.class
/.apt_generated/
/.project